<div class="row" ng-controller="PhonesCtrl" ng-init="query" style="padding-top:3em;">
  <div class="col-sm-6 col-md-4"  ng-repeat="phone in phones | filter : query| orderBy: order">
    <div class="cards thumbnail">
      <img ng-src="{{phone.image}}">
      <div class="caption">
        <h3>{{phone.modele}}</h3>
        <div class="row">
          <p class="col-sm-6">by <a href="#">{{phone.marque}}</a></p>
          <p  class="text-right col-sm-6">start at {{phone.prix}}</p>
        </div>
        <div class="btn center-block">
          <button class="btn btn-custom btn-large btn-block" href='#/article'>see more</button>
        </div>
      </div>
    </div>
  </div>
</div>
