<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AngularJS</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/navbar.css">
    <link rel="stylesheet" href="assets/css/cards.css">
  </head>
  <!--  -->
  <body ng-app>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">AngularJS</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-nav inline-form">
            <div class="form-group">
              <input type="text" class="input-sm form-control" placeholder="Recherche" ng-model="query" style="height:33px">
              <select ng-model="order" class="selectpicker" data-width="168px">
                  <option value="" disabled >Organiser par ...</option>
                  <option value="marque">marque</option>
                  <option value="prix">prix</option>
              </select>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">

          </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
        <div class="row" ng-controller="PhonesCtrl" ng-init="query" style="padding-top:3em;">
          <div class="col-sm-6 col-md-4"  ng-repeat="phone in phones | filter : query| orderBy: order">
            <div class="cards thumbnail">
              <img ng-src="{{phone.image}}">
              <div class="caption">
                <h3>{{phone.modele}}</h3>
                <div class="row">
                  <p class="col-sm-6">by <a href="#">{{phone.marque}}</a></p>
                  <p  class="text-right col-sm-6">start at {{phone.prix}}</p>
                </div>
                <div class="btn center-block">
                  <button class="btn btn-custom btn-large btn-block" data-toggle="modal" data-target="#myModal">see more</button>

                  <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">{{phone.modele}}</h4>
                          </div>
                          <div class="modal-body">
                            <img ng-src="{{phone.image}}" class="img-responsive center-block">
                            <p></p>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div ng-controller="PhonesCtrl" ng-init="query">
           <div ng-repeat="phone in phones |  filter : query| orderBy: order">
              <p>
                   <strong>{{phone.marque}}</strong><br>
                   {{phone.modele}} {{phone.prix}}
              </p>
          </div>
        </div> -->

    <script type="text/javascript">
         function PhonesCtrl($scope) {
             console.log($scope);
             $scope.phones = [{

                  "marque": "Samsung",
                   "modele": "Galaxy S8",
                   "prix": "799€",
                   "image":"assets/img/s8.jpg"
               },
               {
                   "marque": "Samsung",
                   "modele": "Galaxy S8+",
                   "prix": "899€",
                   "image":"assets/img/s8plus.jpg"
               },
               {
                   "marque": "lg",
                   "modele": "G6",
                   "prix": "749€",
                   "image":"assets/img/g6.jpg"
               },
               {
                   "marque": "lg",
                   "modele": "G5",
                   "prix": "699€",
                   "image":"assets/img/G5.jpg"
               },
               {
                   "marque": "lg",
                   "modele": "G4",
                   "prix": "649€",
                   "image":"assets/img/g4.jpg"
               },
               {
                   "marque": "Huawei",
                   "modele": "P10",
                   "prix": "599€",
                   "image":"assets/img/p10.jpg"
               },
               {
                   "marque": "Huawei",
                   "modele": "P9",
                   "prix": "499€",
                   "image":"assets/img/p9.jpg"
               },
               {
                   "marque": "Huawei",
                   "modele": "Mate 9",
                   "prix": "749€",
                   "image":"assets/img/mate9.jpg"
               },
               {
                   "marque": "Huawei",
                   "modele": "Mate 8",
                   "prix": "699€",
                   "image":"assets/img/mate8.jpg"
               },
               {
                   "marque": "Apple",
                   "modele": "Iphone 7",
                   "prix": "769€",
                   "image":"assets/img/iphone7.jpg"
               },
               {
                   "marque": "Apple",
                   "modele": "Iphone 7 Plus",
                   "prix": "910€",
                   "image":"assets/img/iphone7plus.jpg"
               },
               {
                   "marque": "Apple",
                   "modele": "Iphone 6s",
                   "prix": "769€",
                   "image":"assets/img/iphone6.jpg"
               },
               {
                   "marque": "Apple",
                   "modele": "Iphone 6s Plus",
                   "prix": "910€",
                   "image":"assets/img/iphone6plus.jpg"
               },
               {
                   "marque": "Apple",
                   "modele": "Iphone 6",
                   "prix": "769€",
                   "image":"assets/img/iphone6.jpg"
               },
               {
                   "marque": "Apple",
                   "modele": "Iphone 6 Plus",
                   "prix": "910€",
                   "image":"assets/img/iphone6plus.jpg"
               },
               {
                   "marque": "Samsung",
                   "modele": "Galaxy S7",
                   "prix": "599€",
                   "image":"assets/img/s7.jpg"
               },
               {
                   "marque": "Samsung",
                   "modele": "Galaxy S7 edge",
                   "prix": "699€",
                   "image":"assets/img/s7edge.jpg"
               },
               {
                   "marque": "Samsung",
                   "modele": "Galaxy S6",
                   "prix": "549€",
                   "image":"assets/img/s6.png"
               },
               {
                   "marque": "Samsung",
                   "modele": "Galaxy S6 edge",
                   "prix": "649€",
                   "image":"assets/img/s6edge.jpg"
               },
               {
                   "marque": "Samsung",
                   "modele": "Galaxy S6 edge +",
                   "prix": "699€",
                   "image":"assets/img/s6edgeplus.jpg"
               },
               {
                   "marque": "One Plus",
                   "modele": "One plus 3T",
                   "prix": "439€",
                   "image":"assets/img/op3t.jpg"
               }
             ]
         }
     </script>
      </div>
    </main>

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

      <!-- (Optional) Latest compiled and minified JavaScript translation files -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>

  </body>
</html>
